[alias]
    feature-start = "!f() { ~/.cool-git-aliases/gitflow/git-feature.sh START $1 ;}; f"
    feature-restart = "!f() { ~/.cool-git-aliases/gitflow/git-feature.sh RESTART $1 ;}; f"
    feature-push = "!f() { ~/.cool-git-aliases/gitflow/git-feature.sh PUSH $@ ;}; f"
    feature-pr = "!f() { ~/.cool-git-aliases/gitflow/git-feature.sh PR $@ ;}; f"
    feature-end = "!f() { ~/.cool-git-aliases/gitflow/git-feature.sh END $1 ;}; f"
    feature-mergeable = "!f() { ~/.cool-git-aliases/gitflow/git-feature.sh MERGEABLE $1 ;}; f"
